*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}

body {
    width: 2400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #8b8b8b;
    background-color:#ffffff;
}

h1,
h2, 
h3,
h4 {
    font-weight: 500;
}

/* Utilities*/

.container {
    width: 1500px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display:table;
}

.float-left {
    float: left;
}

.w50 {
    width: 50%;
}

.w33 {
    width: calc( 100% / 3 - 20px );
}


.main-header {
    line-height: 100px;
    text-transform: uppercase;
    font-size: 10px;
    background: #0d325a;
}

.main-header .logo {
    width:15%;
}

.main-header .logo img {
   vertical-align:middle;
   height: 30px;
   background: #0d325a;    
}
.main-header .nav-center {
    width: 45%;
}

.menuIL li {
    display: inline-block;
    list-style:none;
    margin-right: 20px;
}

.menuIL li:last-child {
    display: inline-block;
    list-style:none;
    margin-right: 0;
}

.main-header .nav-right {
    width:40%;
    text-align: right;
}

.main-header a {
    text-decoration: none;
    color:white;
} 

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background: #00800000;
    border: 1px solid white;    
    line-height: 20px;
}

.main-header a .btn {
    line-height: 1;
    text-decoration: none;
    color: white;
}

/*secondo bottone*/
 a.green {
    border: #7cbb0100;
    background: #7cbb01;
}



/*main*/


/*jumbotron*/
.jumbotron {
    height: 580px;
    background: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 115% 110%;

}

.jumbotron .container {
    position: relative;
    height:100%;
    /*background: #00000088;*/
}

.jumbotron .jtext {
    position: absolute;
    color: white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jtext h1{
    font-size:44px;
    color: #fff;
}

.btn-large {
    padding: 20px;
}

section.greybox {
    height: 174px;
    background-color: #d3d3d3;
    margin-bottom: 16px;
    padding: 48px 0px;
    text-align: center;
}


section.greybox h2 {
    font-size: 35px;
    color: black;
    margin-bottom: 6px;
}
section.greybox h3 {
    font-size: 24px;
    color: #808080;
}
.trecolonne,.duecolonne {
    text-align: center;
    margin: 0 auto;

}

.trecolonne hr {
    margin: 0 auto;    
}

section.duecolonne .w50 {
    padding: 0 80px;
}

section.duecolonne img {

}

/*footer*/
footer {
    background-color:#d3d3d3;
}

footer div.container {
    
}

footer.w50 {

}

