
/*Generale*/

*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}

body {
    width: 2400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #8b8b8b;
    background-color:#ffffff;
}

h1,
h2, 
h3,
h4 {
    font-weight: 500;
}
/*generale end*/

/* Utilities*/

.container {
    width: 1500px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display:table;
}

.float-left {
    float: left;
}

.w50 {
    width: 50%;
}

.w33 {
    width: calc(100% / 3);
}
/* Utilities end*/

/*Header*/
.main-header {
    line-height: 100px;
    text-transform: uppercase;
    font-size: 10px;
    background: #0d325a;
}

.main-header .logo {
    width:15%;
}

.main-header .logo img {
   vertical-align:middle;
   height: 30px;
   background: #0d325a;    
}
.main-header .nav-center {
    width: 45%;
}

.main-header a {
    text-decoration: none;
    color:white;
} 
/* header end*/

/*Menu*/
.menuIL li {
    display: inline-block;
    list-style:none;
    margin-right: 20px;
}

.menuIL li:last-child {
    display: inline-block;
    list-style:none;
    margin-right: 0;
}

.main-header .nav-right {
    width:40%;
    text-align: right;
}



/*Button*/
.btn {
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background: #00800000;
    border: 1px solid white;    
    line-height: 20px;
}

.main-header a .btn {
    line-height: 1;
    text-decoration: none;
    color: white;
}

/*secondo bottone*/
 .green {
    border: #7cbb0100;
    background: #7cbb01;
}
/*btn end*/

/*main*/


/*jumbotron*/
.jumbotron {
    height: 580px;
    background: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 115% 110%;

}

.jumbotron .container {
    position: relative;
    height:100%;
    /*background: #00000088;*/
}

.jumbotron .jtext {
    position: absolute;
    color: white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jtext h1{
    font-size:44px;
    color: #fff;
}

/* jumbotron end */

.btn-large {
    padding: 20px;
}

/*greybox*/
section.greybox {
    height: 174px;
    background-color: #d3d3d3;
    margin-bottom: 16px;
    padding: 48px 0px;
    text-align: center;
}

section.greybox h2 {
    font-size: 35px;
    color: black;
    margin-bottom: 6px;
}
section.greybox h3 {
    font-size: 24px;
    color: #808080;
}
/*greybox end*/

/*colonne*/
.trecolonne,.duecolonne {
    text-align: center;
    margin: 35px auto;
}

section.trecolonne{
    padding: 20px 450px;
}

.trecolonne .left, 
.trecolonne .center, 
.trecolonne .right {
    margin: 0 30px;
}

section.trecolonne img {
    height:190px;
    }

.trecolonne hr {
    width:87px;  
}

.trecolonne h2 {
    font-size:30px;
    color: #7cbb01;
    margin-top: 10px;
}

section.trecolonne .w33 {
    margin: 35px auto;
}
section.trecolonne .w33.centrale{
    margin-top: 72px;
}

section.trecolonne .w33 .text{
    margin:0 50px;
    font-size:20px;
}



section.duecolonne h2 {
    font-size:37px;
    color:black;
    text-align: left;
    margin-bottom:30px;
}

section.duecolonne h3 {
    font-size:22px;
    color:#808080;
    text-align: left;
    margin-bottom:30px;
}

section.duecolonne a {
    font-size: 15px;
    text-align: left;
    width: 100%;
    display: inline-block;
}

section.duecolonne .left  {
    padding: 25px 85px 25px 509px;
}

section.duecolonne .right {
    padding: 25px 509px 25px 85px;
}
/*colonne end*/

/*footer*/
footer {
    background-color:#d3d3d3;
}

footer div.container {
    position: relative;
    height:200px; 
}

footer .w50:first-child {
    line-height: 200px;
    font-weight: bold;
    color:black;
    font-size: 35px;
}

footer .w50 ul {
    width: 100%;
    font-size: 20px;
    text-align: right;
}

footer .w50 li{
    line-height: 200px;
    list-style:none;
    display: inline-block;
    margin-right: 20px;
}

footer .w50 li:last-child {
    line-height: 38px;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    color:white;
}

/* dropdown  */
.dropdown {
    position: relative;
    display: inline-block;
    height: 34px;
    line-height: 200px;
}

.dropdown span {
    box-shadow: 1px 4px 5px -2px darkolivegreen;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    min-width: 86px;
    box-shadow: 9px -7px 10px 0px rgba(0,0,0,0.2);
    padding: 12px 2px;
    z-index: 1;
    line-height: 29px;
    text-align: left;
    font-size: 16px;
    top: 0;
    border-radius: 5px 5px 0 0;
    border-left: 1px solid #00000029;
    border-top: 1px solid #00000038;
    border-right: 1px solid black;
    width: 112px;
}

.dropdown-content p a {
    background-color:#d3d3d3;
    text-decoration: none;    
}
.dropdown-content p a:hover {
    background-color: #556b2f88;
    text-decoration: none;    
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* dropdown end*/

/* help */
footer .help {
    position: fixed;
    width: 100px;
    height: 46px;
    bottom: 0px;
    right: 256px;
    background-color: #7cbb01;
    border-radius: 5px 5px 0 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 46px;
}

/* help end*/

/*footer end*/




