*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8b8b8b;
}

h1,
h2, 
h3,
h4 {
    font-weight: 500;
}

/* Utilities*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display:table;
}

.float-left {
    float: left;
}


.jumbotron {
    height: 600px;
    background: #0d325a;
    background-image: url(../img/background-header.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main-header {
    line-height 45px;
    text-transform: uppercase;
    font-size:10;
    background: #0d325a;
} 

header .nav-center {
    display:inline-block;
    list-style: none;

}

.main-header .logo img {
   height: 30px;
   background: #0d325a;    
}




    
